@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.dojoWrapper {
	margin: 40px 70px
}

.dojoForm {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 20%;
}

.errors {
	color: red;
}

.btn {
	margin-top: 20px;
}

.ninjaWrapper {
	margin: 40px 70px
}

.formItem {
	margin-top: 10px;
}

.showWrapper {
	margin: 40px 70px;
}

.ninjaHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 20%;
}